[submodule "Scripts"]
	path = Scripts
	url = https://github.com/RaidcoreGG/RCGG-Scripts
[submodule "src/thirdparty/imgui"]
	path = src/thirdparty/imgui
	url = https://github.com/RaidcoreGG/imgui
[submodule "src/thirdparty/Nexus"]
	path = src/thirdparty/Nexus
	url = https://github.com/RaidcoreGG/RCGG-lib-nexus-api
[submodule "src/Util"]
	path = src/Util
	url = https://github.com/RaidcoreGG/RCGG-Utils
[submodule "src/thirdparty/ImPos"]
	path = src/thirdparty/ImPos
	url = https://github.com/RaidcoreGG/imgui_positioning
[submodule "src/thirdparty/RealTime-API"]
	path = src/thirdparty/RealTime-API
	url = https://github.com/TyrianDeveloperCollective/GW2-RealTime-API-Releases.git
