[submodule "Scripts"]
	path = Scripts
	url = https://github.com/RaidcoreGG/RCGG-Scripts
[submodule "src/thirdparty/imgui"]
	path = src/thirdparty/imgui
	url = https://github.com/RaidcoreGG/imgui
[submodule "src/GW2RE"]
	path = src/GW2RE
	url = https://github.com/TyrianDeveloperCollective/GW2RE-lib
[submodule "src/thirdparty/Nexus"]
	path = src/thirdparty/Nexus
	url = https://github.com/RaidcoreGG/RCGG-lib-nexus-api
[submodule "src/Util"]
	path = src/Util
	url = https://github.com/RaidcoreGG/RCGG-Utils
